
/* Contact */

.subPage.contact

    .txt-article
        padding-bottom: 140px
        
        .container
            max-width: 780px
            width: 100%
            margin-left: auto
            margin-right: auto

            @include until($desktop)
                max-width: 690px

            .title.is-1
                margin-bottom: 30px

            .content
                font-size: 14px

            #contactForm
                max-width: 345px
                width: 100%

                @include until_600
                    max-width: 100%

                textarea
                    margin-top: 20px
                    margin-bottom: 45px

                    @include until_600
                        margin-bottom: 20px

                .button
                    border: none
                    background: transparent
                    padding-left: 0
                    font-weight: $weight-bold
                    font-size: 16px                
                    color: black    

                    .ion
                        font-size: 32px
                        margin-right: 10px

                    &:hover, &:focus
                        background: transparent !important
                        box-shadow: none !important

            .content.right
                line-height: 1.7
                padding-left: 70px

                @include until($desktop)
                    padding-left: 20px

                @include until_600
                    padding-left: 0
                    margin-top: 80px

                h5
                    font-size: 18px
                    font-weight: $weight-bold
                    margin-bottom: 5px
                    margin-top: 0
                    text-transform: uppercase


            &:nth-of-type(1)
                max-width: 685px
                width: 100%
                margin-bottom: 60px

            &.form

                @include until_600
                    max-width: 375px

                .columns
                    @include until_600
                        flex-direction: column

                    .column
                        @include until_600
                            width: 100%

