

section.footer
    background: #f7f7f7
    padding-top: 55px
    max-width: 100% !important

    .footer-inner
        max-width: 1512px
        margin: auto
        
        @include until($tablet)
            max-width: 310px
            margin-left: auto
            margin-right: auto

        .title
            color: black
            margin-bottom: 10px

        p
            font-size: 14px
            color: black

        .paycard-list
            margin: 0
            padding: 0
            margin-top: 20px

            @include until($desktop)
                margin-top: 20px
                margin-bottom: 45px

            h3.title 
                font-size: 14px
                text-transform: uppercase
                color: #000
                font-weight: 600
                padding-bottom: 10px
            .paycard-item
                padding: 0 10px
                display: inline-block

                &:nth-of-type(1)
                    padding-left: 0

        #newsletterForm
            width: 100%
            max-width: 463px

            p.control
                position: relative

            .input
                width: 100%
                background-color:#EDEDED
                color: black
                font-size: 14px
                height: 39px
                border: 1px solid #4a4a4a
                padding-left: 0
                padding-right: 0
                padding-top: 0
                line-height: 39px
                margin-top: 12px
                margin-bottom: 0
                padding-left: 10px

                @include placeholder
                    color: #4a4a4a

            .chk
                margin-top: 7px

                a 
                    color: black
                    text-decoration: underline

            .button.gray
                background-color: #2c2c2c
                width: 100%
                height: 39px
                border-radius: 2px
                border: none
                font-size: 14px
                line-height: 39px
                font-weight: 600
                margin-top: 12px
                margin-bottom: 0
                color: #ffffff

section.footer
    background-color: #EDEDED

    .footer-left
        padding-right: 150px
        @include until($widescreen)
            padding-right: 75px
        @include until($desktop)
            padding-right: 0px

        .title.is-3
            font-size: 14px
            text-transform: uppercase
            color: #000
            font-weight: 600

        a
            line-height: 36px
            display: block
            color: #4A4A4A
            font-size: 14px

    .footer-right
        .title.is-2
            font-size: 22px
            text-transform: uppercase
            color: #000
            line-height: 36px
            padding-bottom: 5px

        span
            font-weight: 400

        .title2.is-2
            font-size: 26px
            color: #000
            line-height: 36px
            padding-bottom: 20px

            span
                font-weight: 400


        .newsletter_form
            padding:  0px 0px 30px 0px

    .socials
      .clear
        clear: both
      .fa, .ion
        color: black
        font-size: 36px
        float: left
        margin: 10px 0px
        margin-right: 30px
        transition: color .4s ease-out

    .copy
      margin-top: 60px
      color: #4A4A4A

      a
        color: #4A4A4A

section.copy
    background-color: #2c2c2c
    padding: 0

    .columns
        margin: 0

        @include until_760
            display: block

    p
        line-height: 35px
        color: #ffffff
        font-size: 14px
        font-weight: 300
    .has-text-left
        padding: 0
        padding-left: 40px

        @include until_760
            width: 100%
            text-align: center !important
            padding-left: 0

    .has-text-right
        padding: 0
        padding-right: 40px 

        @include until_760
            width: 100%
            text-align: center !important
            padding-right: 0 

