/* Apply page */

section.section.apply-page
  max-width: 1440px
  margin: auto
  margin-top: 30px

.no-gap
  padding: 0

form#applyForm,
form#profilForm
  max-width: 1164px
  margin: auto

  .apply-grid
    .apply-item
      padding: 20px
      @include until($desktop)
        padding: 10px
      @include until($tablet)
        padding: 5px
      .content
        min-height: 645px
        @include until($desktop)
          min-height: auto

        background-color: #fbfbfb
        border: 1px solid #c9c9c9

        padding: 30px
        @include until($desktop)
          padding: 20px
        @include until($tablet)
          padding: 10px

        h3
          font-size: 24px
          margin-bottom: 32px

          i
            margin-right: 12px

            &.ion-ios-person-outline
              position: relative
              top: 3px

        p.field-label
          font-size: 14px
          text-align: left
          font-weight: $weight-semibold
          margin-bottom: 7px !important
          margin-top: 17px
          text-transform: uppercase

          span
            position: relative
            margin-top: -10px

        select
          width: 100%
          height: 45px
          background-color: #fce1f1
          border: 1px solid #c9c9c9
          appearance: none
          padding: 5px
          position: relative

        .select-wrapper
          position: relative
          &::after
            position: absolute
            display: block
            content: ''
            width: 0
            height: 0
            border-left: 5px solid transparent
            border-right: 5px solid transparent
            border-top: 7px solid $flirt
            top: 20px
            right: 15px

        input[type=text],
        input[type=password]
          width: 100%
          height: 45px
          background-color: #fce1f1
          border: 1px solid #c9c9c9

        p.text-red
          font-size: 14px
          color: $alert
          line-height: 24px
          text-transform: uppercase
          margin-bottom: 20px

        &.training
          p.text-1
            font-size: 14px
            line-height: 24px

          p.text-2
            font-size: 12px
            line-height: 18px

          .more-margin-top
            margin-top: 45px

        &.address
          padding-left: 25px
          padding-right: 25px

          @include until($desktop)
            padding-left: 15px
            padding-right: 15px
          @include until($tablet)
            padding-left: 5px
            padding-right: 5px

          h3
            padding-left: 5px

          p.field-label
            padding-left: 5px
            padding-right: 5px

            &.more-margin-top
              margin-top: 32px

          .columns
            margin: 0

            .column
              padding-left: 5px
              padding-right: 5px
              padding-bottom: 10px
              padding-top: 0px

        .phone-box
          margin: -.4rem
          margin-top: 0
          .column
            padding-left: 5px
            padding-right: 5px
            padding-bottom: 10px
            padding-top: 0px

        &.pswd-box
          .field-label.pswd
            margin-top: 57px

  .pink-btn
    width: 360px
    line-height: 40px
    text-align: center
    color: #FFF
    font-size: 14px
    display: block
    background-color: $flirt
    border: 1px solid #050505
    margin-left: 10px
    text-transform: uppercase
    cursor: pointer

  .privacy-policy-box
    padding-left: 10px
    padding-bottom: 20px
    text-align: left
    .hide
      display: none
    label
      cursor: pointer
      display: block
      padding: 3px 0px
      padding-left: 20px

    input[type="checkbox"] + i.fa
      position: relative
      display: block

    input[type="checkbox"] + i:before
      content: " "
      background-color: #fce1f1
      border: 1px solid $flirt
      border-radius: 50%
      top: 4px
      position: absolute
      width: 16px
      height: 16px
      display: block
      left: -20px

    input[type="checkbox"]:checked + i:after
      content: " "
      background-color: $flirt
      border-radius: 50%
      top: 7px
      position: absolute
      width: 10px
      height: 10px
      display: block
      left: -17px
