/* GALLERY */

.subPage.gallery_chooser
    .section.txt-article
        padding-bottom: 130px

        .title.is-1
            margin-bottom: 10px

.subPage.gallery_chooser, .subPage.videogallery, .subPage.catalogs

    .section.txt-article
        .container

            @include until($widescreen)
                width: 100%
                max-width: 100%

            .gallery_type_boxes
                margin-top: 30px
                justify-content: center

                .column
                    max-width: 370px
                    width: 370px
                    padding: 0 12px
                    margin-bottom: 24px
                    flex: 0 0 370px

                    @include until($tablet)
                        margin-left: auto
                        margin-right: auto

                    @include until_400
                        width: 300px

                    a
                        position: relative
                        display: block

                        img
                            display: block

                            @include until_400
                                width: 300px
                                height: 275px

                        span
                            position: absolute
                            bottom: 0
                            left: 0
                            width: 100%
                            font-weight: $weight-normal
                            color: #f4f4f4
                            font-size: 14px
                            text-align: left
                            text-transform: uppercase
                            line-height: 50px
                            padding-left: 60px
                            background-position: 20px center
                            background-repeat: no-repeat                        

.subPage.videogallery, .subPage.catalogs
    .section.txt-article

        .title.is-1
            margin-bottom: 40px

        .gallery_type_boxes
            .column
                a
                    span
                        background-color: rgba(0,0,0,0.7)

.subPage.catalogs
    .gallery_type_boxes
        img
            width: 100%
            height: 306px
        span
            background-image: url(../images/picto_catalog.png)

.subPage.videogallery            
    .gallery_type_boxes
        span
            background-image: url(../images/picto_video.png)

.subPage.gallery            
    .gallery_type_boxes
        span
            background-image: url(../images/picto_image.png)


.subPage.gallery

    .section.txt-article
        padding-bottom: 0

        //.galleryBox
            //height: 300px

        //.galleryThumb
            //display: block
            //width: 100%
            //height: 200px
            //background-size: cover
            //background-position: center center

        .title.is-1
            margin-bottom: 90px

            @include until($widescreen)
                margin-bottom: 60px
            @include until($desktop)
                margin-bottom: 40px

        .galleryName
            display: block
            font-size: 26px
            color: black
            text-align: left
            margin-bottom: 10px
            padding-left: 21px

            span
                font-size: 14px

                @include until($desktop)
                    font-size: 12px

            @include until($desktop)
                font-size: 20px            

            @include until_523
                padding-left: 2px
                font-size: 18px

            @include until($tablet)
                font-size: 16px

        .tile_gallery
            margin-bottom: 170px

            @include until($widescreen)
                margin-bottom: 100px
            @include until($desktop)    
                margin-bottom: 70px

        //.column.galleryBox:last-child:not(:first-child)
            //float: left


