
/* Header */

.hero
    background: transparent
    color: white

    .hero-head
        background-color: black
        height: 27px
        font-size: 10px
        line-height: 27px
        padding-right: 40px
        padding-left: 45px
        position: relative
        z-index: 11
        white-space: nowrap

        .language-select
            max-width: 100px

            a
                display: block

                img
                    width: auto
                    height: 15px
                    width: 20px
                    position: relative
                    top: 4px

                span
                    font-size: 12px
                    color: white
                    position: relative
                    top: 0
                    left: 7px

                i
                    font-size: 18px
                    opacity: .5
                    margin-left: 12px
                    margin-top: 0

            .languageChooserPanel
                display: none
                position: absolute
                width: 37px
                top: 25px
                left: 95px
                z-index: 4
                background: white
                border: 1px solid #dcdfdf
                box-sizing: border-box
                font-weight: bold
                font-size: 14px
                line-height: 18px
                color: #806854
                padding: 5px 10px 3px 10px
            
            .langSwitcherForm input
                display: block
                border: none
                width: 14px
                height: 11px
                margin: 5px 0 5px 0
                background-position: top center
                background-repeat: no-repeat
                background-color: transparent
                -webkit-background-size: 100%
                background-size: 100%


            .langSwitcherForm input.english
                background-image: url("../images/flags/english.png")


            .langSwitcherForm input.hungarian
                background-image: url("../images/flags/hungarian.png")


        @include until($widescreen)
            padding-left: 25px
            padding-right: 25px
        @include until($desktop)
            font-size: 10px

        span
            font-weight: $weight-semibold

            @include until($desktop)
                display: none !important

            &.call_us_text
                @include until_1360
                    display: none

        .column:last-of-type
            @include until_760
                // flex: 0 0 100%
                text-align: right

        .fa, .ion
            color: white
            font-size: 14px
            line-height: 27px
            margin-right: 10px
            transition: all 0.5s ease-in-out

            @include until_760
                margin-left: 5px
                margin-right: 5px

            &:hover
                color: $blue

        .ion
            font-size: 18px

    .hero-body
        overflow: hidden
        position: relative
        z-index: 2
        margin-top: 84px
        padding-top: 0
        padding-bottom: 0
        padding-left: 0
        padding-right: 0
        height: auto

        .solo-image
            &::after
                content: ''
                display: block
                height: 16px
                background-color: rgba(0,0,0,0.8)
                width: 100%
                position: absolute
                z-index: 3
                bottom: -16px            

        @include until_1500
            margin-top: 63px
        @include until($tablet)
            margin-top: 46px

        .slider,
        .solo-image
            width: 100%
            height: 679px

            @include until_1700
                height: 550px
            @include until($fullhd)
                height: 450px
            @include until($widescreen)
                height: 400px
            @include until($desktop)
                height: 350px
            @include until_800
                margin-top: 0
                height: 250px
            @include until($tablet)
                height: 170px

.cat_icons
    padding-top: 28px

    a
        display: inline-block
        height: 55px
        background-position: left center
        background-color: transparent
        background-repeat: no-repeat
        text-align: left
        font-size: 16px
        line-height: 1.0
        font-weight: $weight-normal
        color: #7c7a7a
        border-right: 1px solid #b8b8b8
        padding-top: 10px
        margin-left: 30px
        padding-left: 55px
        padding-right: 30px
        filter: gray
        -webkit-filter: grayscale(1)
        filter: grayscale(1)
        transition: all 0.2s ease-in-out

        &.cat_all 
            background-image: url(../images/cat_all.jpg)
        &.face_care 
            background-image: url(../images/cat_19.jpg)
            padding-left: 65px
        &.body_care 
            background-image: url(../images/cat_20.jpg)
            padding-left: 65px
        &.hair_care 
            background-image: url(../images/cat_21.jpg)
            padding-right: 50px
        &.relax_fit 
            background-image: url(../images/cat_22.jpg)
            padding-left: 55px
        &.special_offers
            background-image: url(../images/cat_so.jpg)
            padding-left: 50px
            padding-right: 0px
            border-right: none

        @include until($desktop)
            margin-left: 15px
            padding-right: 20px
            font-size: 14px

        &:hover
            -webkit-filter: grayscale(0)
            filter: none
            transition: all 0.2s ease-in-out
            color: $pink

    @include until_800
        display: none
    
.subPage .hero   

    .hero-body
        background: none
        padding-top: 0px
        padding-bottom: 0px
        height: 0px        

        #google_map_inner
            width: 100%
            height: 509px
            // position: absolute
            left: 0
            bottom: 0
            z-index: 2

            @include until($tablet)
                display: none


.subPage.contact
    .hero-body
        height: 478px

        @include until($widescreen)
            height: 378px

        @include until($tablet)
            height: 46px
            padding: 0

.subPage.gallery_chooser
    .hero-body
        height: 478px
        background: url(../images/header_gal.jpg) no-repeat top center transparent

        @include until($tablet)
            height: 46px
            background-image: none

.search-overlay-menu
    background-color: rgba(35, 35, 35, 0.9)
    height: 100%
    left: 0
    opacity: 0
    position: fixed
    text-align: center
    top: 0
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s
    visibility: hidden
    width: 100%
    z-index: 2200

    &.open 
        opacity: 1
        transition: opacity 0.3s ease 0s, transform 0.3s ease 0s
        visibility: visible

        form
            transform: translateY(0px)

    .search-overlay-close
        color: #fff
        font-size: 40px
        background: none
        border: none
        opacity: 1
        position: absolute
        right: 20px
        top: 20px
        cursor: pointer

    form
        height: 120px
        left: 20%
        margin: -60px auto 0
        position: absolute
        top: 50%
        transform: translateY(20px)
        transition: all 0.3s ease-in-out 0s
        width: 60%

        button
            background: none
            border: none
            color: #c6c6c6
            font-size: 3rem
            position: absolute
            right: 0
            top: 50px

    input[type="search"]
        background: transparent
        border-bottom: 2px solid #909090 !important
        border-left: 0 solid transparent
        border-right: 0 solid transparent
        border-top: 0 solid transparent
        color: #fff
        font-size: 60px
        font-weight: 300
        height: 100%
        outline: medium none
        padding: 10px
        width: 100%



// Nav

.nav
    background-color: white
    height: 84px 
    box-shadow: none
    opacity: 1
    transition: background-color 0.5s ease-in-out, opacity 0.9s ease-in-out
    position: absolute
    top: 27px
    width: 100%
    border-bottom: 1px solid #2b2b2b
    background: #2b2b2b

    @include until_1500
        height: 63px
    // @include until($tablet)
    //     height: 46px

    

    &.is-active
        background-color: $dark-blue !important
        height: auto !important
        position: absolute !important
        top: 0
        padding-top: 20px
        padding-bottom: 20px

    &.fixed
        position: fixed
        top: 0
        width: 100%
        opacity: 1
        border-bottom: 0px
        // background-color: rgba(42,39,39,0.8)
        transition: background-color 0.5s ease-in-out, opacity 0.9s ease-in-out

        .nav-left
            a.flag
                display: none

        .nav-right
            button, .cart .badge
                color: white

        .nav-center .nav-item.myLogo
            background-image: url(../images/logo.png)


    .nav-left
        overflow: visible
        flex: 0 0 180px

        a.flag img
            height: 15px
            width: auto
            margin-top: 33px
            margin-left: 90px

            @include until_1500
                margin-top: 24px
            @include until($widescreen)
                margin-left: 70px
            @include until($tablet)
                margin-left: 57px
                margin-top: 17px
            @include until_370
                display: none

        @include until_600
            flex: 0 0 100px
        @include until_400
            flex: 0 0 60px

        .nav-item            
            img
                max-height: none !important
                margin-left: 35px

                @include until_1500
                    height: auto
                @include until($widescreen)
                @include until_400
                    margin-left: 0px

        .categoriesBtn
            display: none
            color: $text
            font-size: 14px
            text-transform: uppercase
            margin-left: 40px
            line-height: 82px

            @include until_1500
                line-height: 63px

            .ion
                position: relative
                font-size: 26px
                top: 4px
                margin-right: 2px

    .nav-center
        overflow: visible

        .nav-item
            display: inline-block
            color: #b0b0b0
            font-size: 16px
            line-height: 82px
            padding-top: 0
            padding-left: 14px
            padding-right: 14px
            transition: color 0.4s ease-in-out

            @include until_1500
                line-height: 63px
                font-size: 14px

            &:hover, &.is-active
                color: $blue
                transition: color 0.4s ease-in-out

            &.showOnlySidebar
                display: none
                margin-left: 30px

            &.mobilRegLink
                display: none

            &.myLogo
                display: inline-block
                width: 239px
                height: 82px                
                background: url(../images/logo.png) no-repeat center center transparent

                @include until_1500
                    background-size: contain
                    height: 42px
                    width: 191px
                    margin-top: 10px
                @include until($tablet)
                    margin-top: 15px
                    width: 130px
                    height: 29px

    .nav-right
        overflow: visible
        flex: 0 0 200px

        @include until_600
            flex: 0 0 150px
        @include until($tablet)
            flex: 0 0 135px
        @include until_400
            flex: 0 0 115px
        
        button
            background: transparent
            border: none
            color: white
            padding: 0
            width: 30px

            .fa
                font-size: 26px

                // &.fa-shopping-cart
                    // margin-right: 50px

                    // @include until($tablet)
                    //     margin-right: 15px

            .ion
                font-size: 30px

                @include until($tablet)
                    font-size: 24px

            &.magnifier


            &.profile
                margin-left: 15px
                margin-right: 15px

                @include until($tablet)
                    margin-left: 5px
                    margin-right: 5px

            &.cart 
                position: relative
                margin-right: 42px

                @include until_800
                    margin-right: 25px
                @include until($tablet)
                    margin-right: 15px

                .badge                    
                    color: white
                    font-size: 14px
                    position: absolute
                    top: 17px
                    right: -5px
                    font-weight: $weight-bold

                    @include until($tablet)
                        top: 10px


.subPage .nav.fixed.posAbs
    top: 27px
    background: #2b2b2b
    
.nav
    & + .menu.main.open
        top: 84px
.nav.fixed
    & + .menu.main.open
        top: 64px

.subPage .nav.fixed
    & + .menu.main.open
        top: 64px
.subPage .nav.fixed.posAbs
    & + .menu.main.open
        top: 84px


.menu.main
    display: none
    transition: all .3s

    .allProductLink
        display: none

        @include until_960
            display: block

    .close 
        display: none
        color: $text
        border: none
        font-size: 32px
        line-height: 32px
        background: transparent
        position: absolute
        right: 25px
        top: 10px
        width: 13px

    .sublinks
        //display: none

    &.open
        position: fixed
        color: white
        left: -500px
        // top: 111px
        background: #2b2b2b
        padding-left: 35px
        padding-top: 50px
        padding-bottom: 60px
        padding-right: 60px
        text-align: left
        z-index: 500
        min-height: 100%
        width: auto
        display: block

        @include until($widescreen)
            position: absolute
        @include until($tablet)
            padding-top: 30px
            width: 100%

            a.nav-item
                font-size: 1.2rem
            a.interactive 
                &::after
                    right: -20px
        
        .nav-item
            display: block
            color: white
            line-height: 2.0
            padding: 0

            @include until($desktop)
                line-height: 1.5

            &.mobilRegLink
                @include until_960
                    display: block

        .close
            display: block

        .spacer
            display: block
            height: 45px

            @include until($tablet)
                height: 25px

    a.flag img
        height: 15px
        width: auto
        margin-top: 25px
        margin-right: 10px
        


.nav-toggle
    width: 30px
    left: 43px
    top: 17px
    position: absolute
    z-index: 9
    display: block

    @include until_960
        display: block !important

    @include until_1500
        top: 7px
    @include until($widescreen)
        left: 24px
    // @include until($tablet)
    //     top: 0
    //     left: 15px

    &:hover
        background-color: transparent !important

    span
        left: 0 !important
        width: 30px !important
        height: 2px !important
        margin-left: 0px !important
        transition-duration: 500ms !important
        //background: white
        background: -webkit-linear-gradient(-90deg, rgba(255,255,255,0.1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.1))
        background: -o-linear-gradient(-90deg, rgba(255,255,255,0.1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.1))
        background: -moz-linear-gradient(-90deg, rgba(255,255,255,0.1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.1))
        background: linear-gradient(-90deg, rgba(255,255,255,0.1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.1))

        &:first-child
            margin-top: -8px !important

        &:nth-child(2)
            margin-top: 0px !important

        &:nth-child(3)
            margin-top: 8px !important

    &.is-active
        //position: absolute
        //top: 10px
        //right: 0px

        span
            background-color: transparent

            &:nth-child(1)
                margin-top: -10px !important
                margin-left: 4px !important
            &:nth-child(3)
                margin-top: 11px !important
                margin-left: 4px !important


.nav.fixed .nav-toggle span
    background: -webkit-linear-gradient(-90deg, rgba(255,255,255,0.1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.1))
    background: -o-linear-gradient(-90deg, rgba(255,255,255,0.1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.1))
    background: -moz-linear-gradient(-90deg, rgba(255,255,255,0.1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.1))
    background: linear-gradient(-90deg, rgba(255,255,255,0.1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.1))

#menu-shade
    background: transparent//rgba(20, 20, 20, 0.5) repeat top left none
    cursor: pointer
    height: 100%
    left: 0
    opacity: 0
    position: fixed
    top: 0px
    transition: all 0.25s ease-in-out 0s
    visibility: hidden
    width: 100%
    z-index: 4


#menu-shade.open
    visibility: visible
    opacity: 1




.loginPanel
  display: none
  position: fixed
  z-index: 6
  top: 106px
  right: 45px
  background-color: white
  width: 406px
  font-size: 14px
  line-height: 18px
  color: #020202
  border: 1px solid #C9C9C9
  padding: 25px 30px 25px 30px
  text-align: left
  transition: top 0.5s linear, background-color 0.5s linear

  .panel-title
    span
      margin-left: 5px

  i.ion-ios-person-outline
    font-size: 30px
    position: relative
    top: 2px

  @include until_1500
    top: 90px
  @include until($tablet)
    top: 73px
    width: 100%
    right: inherit

  &.loggedIn
    .account-menu
      margin-top: 30px

      a
        color: black
      .level-1,
      .level-2
        position: relative
        display: block
        padding: 5px 0

        i
          margin-right: 15px
          font-size: 16px

          &.is-border::before
            border: 1px solid black
            border-radius: 50%

      .level-1
        text-transform: uppercase

        &.account-item
          span.underline
            text-decoration: underline

        &.logout-item
          background: none
          border: none


      .level-2
        margin-left: 55px

        &.coupons-item
          margin-left: 53px
          i
            margin-right: 14px
            font-size: 11px
            &::before
              padding: 3px 5px



  #loginForm
    padding-top: 13px
    padding-bottom: 45px

    .links
      line-height: 23px

    input[type=text],
    input[type=password]
      width: 100%
      height: 39px
      font-size: 16px
      margin: 0 0 15px 0
      padding: 0 10px 0 10px
      background-color: #c1d5eb
      border: 1px solid #c9c9c9

    input[type=password]
      margin-bottom: 0

    p.field-label
      font-size: 14px
      text-align: left
      font-weight: $weight-semibold
      margin-bottom: 7px !important
      margin-top: 17px
      text-transform: uppercase

    a.forgot-pswd-btn
      text-decoration: underline
      color: #020202
      font-size: 12px

  .blue-btn
    margin-top: 20px

.loginPanel.fixed
  top: 79px

  @include until($tablet)
    top: 60px

.loginPanel-OLD
    display: none
    position: fixed
    z-index: 6
    top: 112px
    right: 0
    background-color: rgba(23,24,12,0.66)
    width: 318px
    font-size: 14px
    line-height: 18px
    color: #f8f7f7
    padding: 18px 19px 10px 19px
    text-align: left
    transition: top 0.5s linear, background-color 0.5s linear

    @include until_1500
        top: 90px
    @include until($tablet)
        top: 73px
        width: 100%
        background-color: rgba(23,24,12,1)

    &.loggedIn
        background-color: transparent
        width: 180px
        padding: 0px

        a, .button
            display: block
            height: 60px
            line-height: 60px
            background-color: rgba(23,24,12,0.66)
            color: white
            border: none
            text-transform: none
            width: 100%
            text-align: left
            padding-left: 15px
            opacity: 1
            transition: all 0.5s ease-in-out
            margin-top: 2px
            font-size: 16px
            padding-top: 0
            padding-bottom: 0
            padding-right: 0

            .fa
                vertical-align: middle
                position: relative
                top: -3px
                margin-right: 5px

            &:hover
                opacity: 0.8
                transition: all 0.5s ease-in-out

    #loginForm 
        span
            display: block
            font-size: 18px
            line-height: 26px
            text-transform: uppercase
            clear: both
            margin-bottom: 5px

        .field
            border: 1px solid #f8f7f7
            max-width: 100%
            width: 100%
            clear: both
            background: transparent
            display: block
            margin: 0px 0 15px 0
            padding: 0 10px 0 10px
            box-sizing: border-box
            border-radius: 3px
            font-weight: normal
            font-size: 14px
            color: #f8f7f7
            line-height: 47px

        .button
            margin-bottom: 5px

        .links
            line-height: 23px

.loginPanel.fixed-OLD
    top: 84px

    @include until_1500
        top: 63px
    @include until($tablet)
        top: 46px

.basketPanel
    display: none
    position: fixed
    z-index: 4
    top: 112px
    right: 0
    background-color: white
    box-sizing: border-box
    width: 318px
    font-size: 14px
    line-height: 18px
    padding: 18px 19px 20px 19px
    text-align: left
    transition: top 0.5s linear, background-color 0.5s linear

    .clear
        clear: both

    .topRow
        line-height: 23px
        font-size: 18px
        padding-left: 0px
        box-sizing: border-box
        margin-bottom: 25px

        .fa
            font-size: 22px
            margin-right: 6px

    .productInner 
        .row
            position: relative
            margin-top: 15px
            margin-bottom: 7px
            box-sizing: border-box
            padding-right: 20px

            img
                float: left
                padding-right: 15px

            .count

            .price
                font-size: 16px
                line-height: 24px

            .remove
                position: absolute
                top: 3px
                right: 0
                color: $text

    .summary
        font-size: 16px
        line-height: 60px
        border-top: 1px solid $text
        border-bottom: 1px solid $text
        margin: 25px 0 25px 0

        span
            float: right

    .button
        width: 100%
        font-weight: $weight-bold


.basketPanel.fixed
    top: 84px
