
/* Index */
section.welcome-section
    max-width: 900px
    margin: auto
    margin-top: 2rem

    .article-body
        margin-top: 2rem

    p
        text-align: left !important

    a.button.gray
        background-color: #2c2c2c
        width: 289px
        height: 41px
        border-radius: 2px
        border: none
        margin-top: 2.5rem


section.our-products
    padding-top: 70px
    padding-left: 0
    padding-right: 0
    background-color: #f8f7f7

    .title.is-1
        span
            background: #f8f7f7
    .section-description
        max-width: 948px
        margin: auto
        margin-bottom: 3rem
        padding: 0 10px

    .category-item
        .cta-block
            display: none

    .bx-wrapper
        max-width: 1445px
        margin: unset !important

        @include until_523
            margin: auto !important

    #slider-next
        line-height: 347px
        margin-left: 3%
        margin-right: 1%

        @include until_523
            display: none

        .bx-next
        .fa-angle-right
            font-size: 75px
            margin-top: 30px
            color: rgba(0,0,0,0.2)

    #slider-prev
        line-height: 347px
        margin-right: 4%
        margin-left: 1%

        @include until_523
            display: none

        .bx-prev
        .fa-angle-left
            font-size: 75px
            margin-top: 30px
            color: rgba(0,0,0,0.2)

    .title.is-1
        margin-bottom: 5px

    .webshop_box_slider
        .catTextCtn
            padding: 0 10px

        .title
            font-size: 16px
            line-height: 24px
            color: #2c2c2c
            font-weight: 700
            text-align: center
            margin-bottom: .75rem
            margi-top: .75rem
            text-transform: uppercase

        .description
            font-size: 14px
            line-height: 24px
            color: #2c2c2c
            font-weight: 400
            text-align: center

    section.latest-products    
        padding-top: 70px
        padding-bottom: 120px
        padding-left: 0
        padding-right: 0

        @include until($tablet)
            padding-top: 20px

        .title.is-1
            margin-bottom: 5px

.sublinks
    .sub-items
        padding-left: 15px
        transition: all .3s 
        &.closed
            display: none

        &.opened
            display: block

    .interactive
        position: relative

        &::after
            font-family: "FontAwesome"
            content: '\f107'
            display: block
            position: absolute
            top: 0
            right: -40px
            transition: all .3s 

        &.opened
            &::after
                transform: rotate(-180deg)

    .main-item
        margin-bottom: 5px

