.news_submenu
    padding-bottom: 0 !important
    
    @include until_600
        padding-left: 0 !important
        padding-right: 0 !important

    .button
        margin: 0 15px
        border: 2px solid $green
        border-radius: 0px
        color: $green
        font-size: 15px
        font-weight: $weight-semibold
        background: transparent
        padding: 30px 30px 25px 30px !important
        transition: color .2s ease-out, background .2s ease-in

        @include until_600
            font-size: 12px
            padding: 12px 12px 10px 12px !important
            margin: 0 5px


        &.active, &:hover
            color: white            
            background-color: $green
            transition: color .2s ease-out, background .2s ease-in

.subPage.news

    .section.txt-article
        padding-top: 70px

        .breadCrumbHolder
            padding-bottom: 30px
            padding-left: 0

        @include until_760
            padding-bottom: 0

        .container

            .page-description
                padding-bottom: 30px
                p
                    font-size: 14px

                    a
                        text-decoration: underline
                        color: $flirt

            max-width: 1590px
            width: 100%
            
            // @include until_1600
            //     max-width: 1180px

            // @include until_1100
            //     max-width: 705px
            //     margin-left: auto
            //     margin-right: auto

            // @include until_760
            //     max-width: 400px

            .title.borderBottom
                margin-bottom: 50px

            .category_select, .archive_select
                display: block
                max-width: 250px
                margin-bottom: 40px

                @include until_760
                    margin: auto
                    margin: 20px 10px

                @include until_523
                    margin: auto
                    margin-bottom: 20px

                &.select
                    background-color: transparent
                    border: 1px solid #C9C9C9

                    &:after
                        color: #C9C9C9

                select
                    background: none
                    width: 100%
                    color: #C9C9C9
                    font-weight: 500

            .archive_select
                margin-left: 15px

                @include until_523
                    margin-left: auto
            
            .column.narrowCol
                flex: 0 0 276px

                @include until_760
                    display: none

                .title.is-4
                    color: #151515
                    text-transform: uppercase
                    font-weight: $weight-bold
                    border-bottom: 1px solid #a8a8a8
                    padding: 0 0 15px 0
                    margin: 75px 0 10px 0

                    &:first-of-type
                        border: none
                        padding-bottom: 0
                        margin-top: 0

                #newsSearchForm
                    position: relative
                    width: 247px
                    height: 40px
                    margin-top: 5px

                    .field
                        border: 1px solid #c9c9c9
                        border-radius: 3px
                        font-size: 14px
                        line-height: 43px
                        color: #c9c9c9
                        width: 247px
                        padding-right: 37px
                        padding-left: 15px
                        background: transparent
                        padding-top: 0
                        padding-bottom: 0
                
                    .button
                        border: none
                        background: url("../images/nagyito.png") no-repeat top center transparent
                        position: absolute
                        top: 18px
                        right: 14px
                        width: 18px
                        height: 18px
                        padding: 0

                        &:hover
                            background: url("../images/nagyito.png") no-repeat top center transparent !important
                
                .section 
                    padding: 0
                    margin: 0

                    a
                        font-size: 14px
                        line-height: 32px
                        font-weight: normal
                        color: #131313
                        display: block
                        text-decoration: none

                        &:hover
                            text-decoration: underline

                    &.tags
                        a
                            display: inline-block
                            text-transform: none
                            font-size: 14px
                            line-height: 36px
                            color: #c3c3c3
                            background: transparent
                            border-color: #c3c3c3
                            border-style: solid
                            border-width: 1px
                            text-transform: uppercase
                            border-radius: 3px
                            padding: 0 13px
                            margin-bottom: 5px
                            margin-top: 5px
                            margin-right: 5px

                    .recent_post_div 
                        margin-top: 5px
                        margin-bottom: 20px

                        .pic
                            float: left
                            width: 56px
                            height: 34px
                            margin-right: 10px
                            background-size: cover
                            background-position: center center

                        a.title
                            text-transform: uppercase
                            line-height: 16px
                            overflow: hidden
                            height: 30px
                            margin-bottom: 0

                        .date
                            font-size: 12px
                            line-height: 14px
                            color: #434242
                            text-transform: uppercase

            .column.boxes
                max-width: 1550px
                margin: auto

                .title.is-2
                    padding-left: 20px

                .featuredHolder
                    margin-bottom: 35px

                    @include until_1100
                        margin-bottom: 0px

                .news_box 
                    padding-left: 15px
                    padding-right: 15px
                    height: auto
                    padding-bottom: 60px

                    .pic
                        background-size: cover
                        background-position: center center
                        display: block
                        height: 226px
                        margin-bottom: 20px
                        // outline: 1px solid #e9e9e9
                        // outline-offset: -10px
                        background-repeat: no-repeat

                    h3
                        font-size: 18px
                        text-transform: uppercase
                        padding: 0px 0px 20px 0px
                        font-weight: 400
                        color: #000

                    .al-tags
                        font-size: 14px
                        color: #1E2B3C
                        .fa
                            margin-top: 5px

                    &.big
                        height: 671px
                        max-width: 824px
                        padding-left: 0

                        @include until_1600
                            max-width: 100%
                            padding-left: 30px

                        @include until_1100
                            height: 550px

                        @include until_760
                            padding-left: 0
                            padding-right: 0

                        @include until_1600
                            display: none

                        .pic
                            height: 485px

                            @include until_1100
                                height: 226px

                        div.blue
                            max-width: 400px

                    &.joker
                        display: none
                        
                        @include until_1600
                            display: block
                    
                .bigPic
                    padding-left: 30px

                    @include until_1600
                        display: none


            .pagination 
                ul
                    margin: 0
                    padding: 0
                    list-style: none

                    a
                        text-decoration: none
                        line-height: 36px
                        font-size: 14px
                        color: $blue
                        display: inline-block
                        width: 37px
                        height: 36px
                        border-radius: 3px
                        background: #f7f7f7
                        text-align: center
                        margin: 0 3px

                    li
                        display: inline-block
                        list-style: none    
                        width: 37px
                        height: 36px
                        margin: 0 3px

                        a
                            display: block
                            margin: 0

                        &.active a
                            background: $blue
                            color: #f7f7f7



    &.newsDetail
        .breadCrumbHolder
            margin-left: 2.25rem

            @include until_523
                margin-left: 1rem
                margin-top: 1rem

            a
                font-size: 14px
                color: #080204
                line-height: 24px
                font-weight: 300

        .blog-hero
            background-size: cover
            width: 100%
            max-width: 1920px
            height: 484px
            margin: auto
            margin-bottom: 20px

        .section.txt-article
            padding-top: 10px
            .container
                max-width: 968px


                .fb-comments
                    max-width: 100% !important

                .content

                    @include until_760
                        text-align: justify

                    .dateHolder
                        max-width: 400px
                        margin-top: -30px

                        i
                            vertical-align: middle

                    .title.is-2
                        font-size: 42px
                        margin-bottom: 25px
                        margin-top: 25px
                        text-align: left

                        @include until_760
                            font-size: 24px

                    .picHolder
                        margin-bottom: 20px

                    span.tags
                        text-transform: uppercase
                        font-weight: $weight-bold
                        display: block

                    .separator_line
                        width: 100%
                        height: 1px
                        background: #c3c3c3
                        margin: 35px 0
                        display: block

                    .comment_title
                        font-weight: $weight-bold
                        font-size: 14px
                        color: #2c2c2c
                        margin-bottom: 12px

                    .share_holder
                        .fa, .ion
                            font-size: 34px
                            margin-right: 30px
                            margin-top: 20px
                            color: $text

                            &:hover
                                opacity: 0.8

            .column
                &.prev
                    @include until_1200
                        display: none
                    text-align: right
                    padding-right: 80px
                &.next
                    @include until_1200
                        display: none
                    padding-left: 80px

.subPage.competition
    .competition_box
        .title.is-2
            font-weight: $weight-semibold

            @include until($tablet)
                font-size: 18px

    &.competitionDetail
        .content
            img
                padding-right: 20px


section.latest-news
    max-width: 1255px
    margin: auto
    margin-top: 40px
    margin-bottom: 20px
    
    @include until($tablet)
        margin-top: 20px
    .news_box
        padding-left: 15px
        padding-right: 15px
        width: 390px
        height: auto
        padding-bottom: 60px
        text-align: left

        .pic
            background-size: cover
            background-position: center center
            display: block
            height: 224px
            width: 351px
            @include until($tablet)
                width: 300px
            margin: auto
            margin-bottom: 20px
            // outline: 1px solid #e9e9e9
            // outline-offset: -10px
            background-repeat: no-repeat

        h3
            font-size: 18px
            text-transform: uppercase
            padding: 0px 0px 20px 0px
            font-weight: 400
            color: #000

        .al-tags
            color: #1E2B3C
            .fa
                margin-top: 5px

    .tile-box
        padding: 10px
        
        .tile-box-inner
            position: relative
            width: 288px
            height: 281px

            .tile-box-image
                background-size: cover
                background-position: center
                width: 288px
                height: 281px
                display: block

                .title-wrapper
                    background-color: rgba(0,0,0,0.6)
                    height: 75px
                    width: 100%
                    position: absolute
                    display: table
                    bottom: 0

                    h3.title
                        display: table-cell
                        vertical-align: middle
                        text-align: center
                        font-size: 14px
                        padding-left: 5px
                        padding-right: 5px 
                        color: #ffffff
                        text-transform: uppercase
                        line-height: 20px
                        