
/* Product */

.subPage.product

    .breadCrumbHolder
        position: relative
        top: -50px
        font-size: 14px

        @include until_960
            top: -30px

        a
            color: $text
            font-size: 14px

    .catSelect
        margin-top: 15px

        div.select
            max-width: 300px
            background: $picton-blue
            border-color: $picton-blue

            select
                background: $picton-blue
                border-color: $picton-blue

    .txt-article
        background: white
        padding-top: 70px

        @include until_960
            padding-top: 50px
                
        .container
            
            .topArticle
                p
                    margin-left: auto
                    margin-right: auto
                    max-width: 985px

            .catBoxHolder
                justify-content: center
                margin-top: 40px
                margin-bottom: 120px

                @include until_1500
                    margin-left: auto
                    margin-right: auto

                @include until_800
                    display: none

                .catBox
                    display: inline-block
                    text-align: center                    
                    margin: 0 30px
                    padding: 0
                    max-width: 177px

                    a
                        color: $text

                        img
                            display: block
                            height: 192px
                            max-width: 1000px

                            &:hover
                                animation-name: bounceSmall
                                transform-origin: center bottom

                        span
                            line-height: 2.5

            .allProductsTitle
                margin-bottom: 0
                
                @include until_960
                    margin-top: 40px

            .boxesInner
                margin-top: 0px
                justify-content: center

        .product_category_select_inner
            display: none


    



    section.news-block
        background: white


    &.productDetail

        .txt-article
            padding-bottom: 30px

            @include until_760
                padding-bottom: 30px

        .container.narrower
            margin-top: 30px

            @include until($widescreen)
                width: 100%
                max-width: 1020px
                margin-top: 0

            @include until_760
                max-width: 470px
                margin-left: auto
                margin-right: auto

            .columns

                @include until_760
                    flex-direction: column

                .column.images
                    @include until_760
                        width: 100%

                    .bigImage
                        //box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.15)
                        max-width: 586px
                        margin-left: 30px
                        height: 530px
                        overflow: hidden
                        position: relative
                        z-index: 1

                        @include until($widescreen)
                            box-shadow: none
                            padding: 10px
                            height: auto
                            margin-left: 0
                            text-align: center
                            width: 100%

                        img.pic
                            position: relative
                            top: -35px

                            @include until($widescreen)
                                display: none

                        img.picThumb
                            display: none
                            //box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.15)
                            margin-left: auto
                            margin-right: auto

                            @include until($widescreen)
                                display: block

                    .thumbnails
                        text-align: center
                        display: block
                        margin-left: 30px
                        position: relative
                        top: 25px
                        z-index: 2

                        @include until($widescreen)
                            margin-left: 0

                        .thumb
                            display: inline-block
                            width: 120px
                            height: 135px
                            background-size: cover
                            margin-left: 8px
                            margin-right: 8px
                            //box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.15)

                .column.right
                    padding-left: 35px
                    font-size: 14px
                    line-height: 1.7
                    position: relative

                    @include until($widescreen)
                        padding-left: 0
                    @include until_760
                        width: 100%
                        margin-top: 40px
                        padding-right: 0

                    .title.is-1
                        padding-right: 30px

                    .price, .discountPrice
                        color: #080204
                        font-size: 30px
                        font-weight: $weight-bold
                    .oldPrice
                        font-size: 30px
                        text-decoration: line-through
                        color: #948a8d
                        margin-left: 30px

                    .notLoggedWarning
                        color: $error
                        font-weight: $weight-bold
                        cursor: pointer                    

                    .button.kosar
                        font-size: 14px
                        font-weight: $weight-bold
                        width: 100%
                        margin-top: 15px

                    .social_row
                        margin-top: 30px

                        .fa
                            font-size: 24px
                            color: $text
                            margin-right: 20px
                            margin-top: 10px

                    


        .printIcon
            position: absolute
            right: 0
            top: 0px
            color: black
            font-size: 42px

            @include until_760
                top: 60px
                        
        .product-title.is-1
            margin-bottom: 0px
            font-size: 40px
            font-weight: 500

        .fajta
            font-size: 18px
            margin-bottom: 25px
            font-weight: 500

            @include until($widescreen)
                font-size: 20px

        .section.related
            background: white
            padding-left: 0
            padding-right: 0
            padding-top: 80px
            padding-bottom: 175px

            .title.is-1
                margin-bottom: 20px



.rectangleButton
    background: #ebebeb
    text-decoration: none
    width: 30px
    height: 30px
    line-height: 30px !important
    display: inline-block
    color: #2c2c2c
    text-align: center
    font-size: 14px
    border-radius: 3px

/* BASKET */

.subPage.basket .select
    max-width: 430px

.busket-section
    .paycard-list
        padding-top: 15px
        h3.title
            font-size: 14px
            text-transform: uppercase
            color: #000
            font-weight: 600
            padding-bottom: 15px
            margin-bottom: 0 !important
        .paycard-item
            padding: 0 10px
            display: inline-block

            &:nth-of-type(1)
                padding-left: 0

.basket_table
    .minus,
    .plus
        @include until($desktop)
            display: none
    

    th.has-text-left
        text-align: left !important 
    td.first 
        width: 100px
        border-left: 1px solid #ddd

        a.image
            background-repeat: no-repeat
            background-position: top center
            background-size: cover
            width: 78px
            height: 82px
            margin: 0px 0 0 9px
            float: left

            @include until($desktop)
                display: none

        @include until($desktop)
            width: 0px !important
            padding: 0

    td.last
        width: 60px

        button
            border: none
            background: transparent
            padding: 0

            .fa
                font-size: 26px
                color: $primary

        &.noborder
            border: none

.basket_table 
    th
        border-bottom: 1px solid #ddd
        text-align: center
        @include until($tablet)
            font-size: 12px
    td 
        padding: 20px
        border-right: 1px solid #ddd
        border-bottom: 1px solid #ddd
        vertical-align: middle

        &.noborder
            border-left: none
            border-top: none
            border-bottom: none

        @include until($desktop)
            padding: 10px
        @include until($tablet)
            padding: 5px

        .product-original-price
            font-weight: normal
            display: block
            font-size: 16px

            @include until($tablet)
                font-size: 12px

        .price
            color: #2c2c2c
            font-weight: normal
            display: block
            font-size: 16px

            @include until($tablet)
                font-size: 12px

        .numberHolder
            color: $text

    .overallHolder
        white-space: nowrap


