@import settings

@import bulma

@import utils

@import header

@import index

//@import gallery

@import news

@import form-helper

@import contact

@import product

@import footer

/* Text */

.section.txt-article
    //background: #eeeeee
    padding-top: 90px
    padding-bottom: 91px

    @include until($widescreen)
        //padding-top: 40px
        padding-bottom: 40px
.subPage.text
    .title.is-1
        padding-bottom: 40px
    

.webshop_box
    flex: 0 0 290px
    padding: 0
    margin: 80px 38px 0 38px
    position: relative
    text-align: left
    display: inline-block

    @include until($tablet)
        margin-top: 50px

    a
        display: block
        position: relative

        img
            display: block

    .titleOverlay

        .stockRow
            border-bottom: 1px solid #b8b8b8
            
        .nev
            font-size: 18px
            font-weight: $weight-normal
            display: block

            a
                color: $text

        .priceHolder
            font-size: 18px
            font-weight: $weight-bold

            .price, .discountPrice
                color: #080204
            .oldPrice
                text-decoration: line-through
                color: #948a8d
                margin-left: 5px


    &.hidden
        display: none

.stockRow
    display: block
    font-weight: $weight-bold
    font-size: 14px    
    padding-bottom: 8px
    margin-bottom: 8px

    .txt22 
        position: relative
        top: 1px

    .stockTick
        position: relative
        top: 3px
        display: inline-block
        background: url(../images/in_stock.jpg) no-repeat center left transparent
        width: 23px
        height: 18px

/* Forgot pass */

#forgotPasswordForm
    max-width: 460px
    width: 100%
    display: inline-block
    margin-top: 40px

    .button
        width: 100%

/* Reg */

#reg_cegesForm, #profilForm
    .column
        padding-left: 20px
        padding-right: 20px

        @include until($desktop)
            padding-left: 10px
            padding-right: 10px

