body
  font-size: 16px
  line-height: 1.5
  background: #fff

  @include until_1500
    font-size: 14px

.section
  background-color: transparent

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6
  color: $text

.showBelow760
  @include until_760
    display: block !important

.hideBelow760
  @include until_760
    display: none

.title.is-1
  max-width: 1500px
  margin: auto
  font-size: 22px
  position: relative
  top: -11px
  z-index: 1

  @include until($widescreen)
    font-size: 22px
    top: -19px

  @include until($desktop)
    font-size: 22px
    max-width: 80%

  @include until($tablet)
    font-size: 18px
    max-width: 70%

  @include until_400
    font-size: 20px
    max-width: 60%


  span
    background: #fff
    padding: 0 15px
    text-transform: uppercase
    -webkit-box-decoration-break: clone
    box-decoration-break: clone
    font-weight: 400
    position: relative

    @include until($tablet)
      display: block

    &:before
      border-top: 1px solid #000
      content: ""
      position: absolute
      top: 50%
      left: -61px
      bottom: 0
      width: 61px
      z-index: -1

      @include until($tablet)
        left: -40px

    &:after
      border-top: 1px solid #000
      content: ""
      position: absolute
      top: 50%
      right: -61px
      bottom: 0
      width: 61px
      z-index: -1

      @include until($tablet)
        right: -40px




  b
    font-weight: $weight-semibold

  &.borderBottom
    font-weight: $weight-light !important
    display: inline-block
    // border-bottom: 1px solid #e6e6e6
    margin-bottom: 1.5rem
    // font-size: 40px
    color: #222


.title.is-2
  font-size: 36px

  @include until_1500
    font-size: 26px



.title.is-3
  font-size: 22px

.title.is-4
  font-size: 16px

strong
  color: $text

.pinkLink
  color: $pink
  text-decoration: underline
  font-size: 14px

.linkButton
  font-weight: $weight-bold
  font-size: 14px
  transition: all 0.5s ease-in-out
  color: $blue !important

.container.narrower
  max-width: 1100px

.container.widest
  max-width: 1677px
  width: 100%

.content
//color: #555 !important

.input, .textarea
  border-color: #444444
  border-radius: 0px
  border-top: none
  border-right: none
  border-left: none
  background: transparent
  box-shadow: none
  font-size: 16px
  color: $text
  padding-left: 0px
  padding-right: 0px
  padding-bottom: 0
  margin-bottom: 22px

  @include placeholder
    color: #444



.input
  height: 50px

.textarea
  height: 123px
  padding: 15px
  padding-left: 0
  padding-top: 0


.select
  height: 45px
  background-color: $pink
  border-radius: 3px
  width: 100%
  margin-bottom: 22px
  margin-top: 5px

  select
    width: 100%
    border-radius: 3px
    background-color: $pink
    font-size: 16px
    font-weight: bold
    color: #f5f5f5
    height: 45px
    border-color: transparent
    padding-left: 20px

    &:hover
      border-color: transparent

  &:after
    border-color: transparent
    content: '\f0d7'
    font-family: FontAwesome
    font-style: normal
    font-weight: normal
    text-decoration: inherit
    font-size: 18px
    color: white
    transform: none
    margin-top: -11px

  &:hover
    &:after
      border-color: transparent


.button
  border-radius: 0px
  //margin-top: 10px
  border-width: 1px
  font-size: 16px
  font-weight: $weight-semibold
  height: 46px
  padding-left: 25px
  padding-right: 25px
  text-transform: uppercase
  transition: all 0.5s ease-in-out
  background: $primary
  color: white
  opacity: 1
  border-color: $primary

  //font-size: 16px !important
  //height: 50px !important
  //padding: 0 20px !important

  &:hover
    color: white
    //background-color: desaturate(invert($green), 30%) !important
    //background-color: adjust-hue($green, -10) !important
    opacity: 0.8
    transition: all 0.5s ease-in-out


button:focus, a:focus
  outline: 0



.control.has-icons-left

  .input, .select select
    padding-left: 5.25em

  .icon
    background-color: $blue
    width: 48px
    height: 44px

    .fa
      color: white

      &.is-circled
        border-radius: 12px
        padding: 5px
        color: $blue
        background: white



.columns.spaceBetween
  justify-content: space-between

.columns.jcc
  justify-content: center

.posRel
  position: relative

.posAbs
  position: absolute !important

.red
  color: $red

.pink
  color: $pink !important

.green
  color: $green !important

.blue
  color: $blue !important

.lightGray
  color: $gray

.whiteBg
  background-color: white

.uppercase
  text-transform: uppercase

.rjttt
  display: none

.rel
  position: relative

.fsb
  font-weight: $weight-semibold !important

.fb
  font-weight: $weight-bold !important

.lt
  text-decoration: line-through

.mtop20
  margin-top: 20px


.txt16
  font-size: 16px

.txt22
  font-size: 22px


.txt14
  font-size: 14px

form.niiza-style
  h3
    font-size: 24px
    line-height: 36px
    font-weight: 400

    i
      margin-right: 12px

    span
      font-size: 12px
      font-weight: 400
      line-height: 36px
      margin-left: 5px


  p.field-label
    font-size: 14px
    text-align: left
    font-weight: $weight-semibold
    margin-bottom: 7px !important
    margin-top: 17px
    text-transform: uppercase

    span
      position: relative
      margin-top: -10px

  select
    width: 100%
    height: 45px
    background-color: #fce1f1
    border: 1px solid #c9c9c9
    appearance: none
    padding: 5px
    position: relative

  .select-wrapper
    position: relative
    &::after
      position: absolute
      display: block
      content: ''
      width: 0
      height: 0
      border-left: 5px solid transparent
      border-right: 5px solid transparent
      border-top: 7px solid $flirt
      top: 20px
      right: 15px

  .half-field
    width: 50%
    padding-right: .75rem
    padding-top: .75rem
    padding-bottom: .75rem
    margin-top: -.75rem
    margin-bottom: calc(1.5rem - 0.75rem)

    @include until($desktop)
      width: 100%
      padding-right: 0

  input[type=text],
  input[type=password]
    width: 100%
    height: 45px
    background-color: #fce1f1
    border: 1px solid #c9c9c9

  p.text-red
    font-size: 14px
    color: $alert
    line-height: 24px
    text-transform: uppercase
    margin-bottom: 20px

.pink-btn
  width: 100%
  line-height: 40px
  text-align: center
  color: #FFF
  font-size: 14px
  display: block
  background-color: $flirt
  border: 1px solid #050505
  text-transform: uppercase
  cursor: pointer

.blue-btn
  width: 100%
  line-height: 40px
  text-align: center
  color: #FFF
  font-size: 14px
  display: block
  background-color: #4b9bee
  border: 1px solid #4b9bee
  text-transform: uppercase
  cursor: pointer

.has-flirt-bubble
  padding-bottom: 20px
  text-align: left
  .hide
    display: none
  label
    cursor: pointer
    display: block
    padding: 3px 0px
    padding-left: 20px
    font-size: 14px
    line-height: 28px
    font-weight: 400

    a
      text-decoration: underline
      color: inherit

  input[type="checkbox"] + span.bubble-helper
    position: relative
    display: block

  input[type="checkbox"] + span.bubble-helper:before
    content: " "
    background-color: #fce1f1
    border: 3px solid #fce1f1
    box-shadow: 0 0 0 1px $silver
    border-radius: 100%
    top: 6px
    position: absolute
    width: 16px
    height: 16px
    display: block
    left: -20px

  input[type="checkbox"]:checked + span.bubble-helper:before
    background-color: $flirt

  .mandatory-box
    margin-top: 10px
    font-size: 12px
    line-height: 28px
    text-decoration: underline

.is-size-1
  font-size: 3rem

.is-size-2
  font-size: 2.5rem

.is-size-3
  font-size: 2rem

.is-size-4
  font-size: 1.5rem

.is-size-5
  font-size: 1.25rem

.is-size-6
  font-size: 1rem

.is-size-7
  font-size: 0.75rem

.uppercase 
    text-transform: uppercase