body {
    background-image: url(images/bg_body.png);
    color: #3D4051;
    padding-bottom: 20px;
    /*font: 12px/20px "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font: 12px/20px 'Helvetica', sans-serif;
    font-size: 12px;
}
/*
@group Columns
-----------------------
      Columns
-----------------------
*/
.one {
    width: 100%;
    clear: both;
}
.one_half {
    width: 48%
}
.one_third {
    width: 30.66%
}
.two_third {
    width: 65.33%
}
.one_fourth {
    width: 22%
}
.three_fourth {
    width: 74%
}
.one_fifth {
    width: 16.8%
}
.two_fifth {
    width: 37.6%
}
.three_fifth {
    width: 58.4%
}
.four_fifth {
    width: 67.2%
}
.one_sixth {
    width: 13.33%
}
.five_sixth {
    width: 82.67%
}
.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth,
.one_half_ex {
    position: relative;
    margin-right: 4%;
    margin-bottom: 20px;
    float: left;
    clear: none !important;
}
.last {
    margin-right: 0px !important
}
/*@end*/
/*
@group Typography
-----------------------
     Typography
-----------------------
*/
a {
    color: inherit;
    text-decoration: inherit;
}
a:hover,
a:focus {
    color: #466779
}
h1 {
    font-size: 25px
}
h2 {
    font-size: 24px
}
h3 {
    font-size: 20px
}
h4 {
    font-size: 16px
}
h5 {
    font-size: 14px
}
h6 {
    font-size: 12px
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5em;
}
h1,
h2,
h3 {
    font-weight: normal;
}
h4,
h5,
h6,
b,
strong,
caption,
th,
thead,
dt,
legend {
    font-weight:bold;
}
ol,
ul {
    list-style: disc;
    padding-left: 15px;
    margin-bottom: 10px;
}
ol {
    list-style: decimal
}
ol li,
ul li {
    margin-bottom: 3px
}
p {
    margin-bottom: 10px
}
/*@end*/
/*
@group Header
-----------------------
       Header
-----------------------
*/
#header {
}
#header .container {
    padding-top: 40px;
    padding-bottom: 40px;
    background-repeat: no-repeat;
    background-position: -10px -10px;
}
#logo {
    float: left
}
/*@end*/
/*
@group Menu
-----------------------
       Menu
-----------------------
*/
#menu {
    float: right;
    list-style: none;
    margin: 0px;
}
#menu li {
    float: left;
    margin-right: 14px;
    padding-top: 3px;
    position: relative;
    color: #acadad;
}
#menu li a {
    text-decoration: none;
    color: #acadad;
    font-size: 11px;
}
#menu li a:hover,
#menu li a:focus {
    color: #dbdbdb
}
#menu li a.current {
    background: url(images/bg_activemenu.png) repeat-x center center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 5px 8px 4px 8px;
    box-shadow: 0px 1px 0px #4c4e53;
    -webkit-box-shadow: 0px 1px 0px #4c4e53;
    -moz-box-shadow: 0px 1px 0px #4c4e53;
}
#menu li a.active {
    color: #c2c8cc
}
/*Menu dropdown*/
#menu li.dropdown {
    padding-right: 16px;
    background-image: url(images/dropdown.png);
    background-repeat: no-repeat;
    background-position: right 9px;
    z-index: 80;
}
#menu li ul {
    position: absolute;
    list-style: none;
    top: 35px;
    left: 50%;
    margin-left: -70px;
    background: #f3f3f3;
    width: 120px;
    padding: 5px 8px 6px 8px;
    display: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #282828;
    -webkit-box-shadow: 0px 0px 3px #282828;
    -moz-box-shadow: 0px 0px 3px #282828;
    z-index: 80;
}
#menu li ul li a {
    color: #565656;
}
#menu li ul:before,
#menu li ul:after {
    content: "";
    position: absolute;
    z-index: 1000;
    top: -7px;
    left: 50%;
    margin-left: -8px;
    border-top: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #f3f3f3;
}
#menu li ul li {
    float: none;
    margin: 0px;
}
/*@end*/
/*
@group Navigation
-----------------------
      Navigation
-----------------------
*/
#navigation {
    margin-top: 80px;
    margin-bottom: 0px;
    background: url(images/bg_sep.png) repeat-x center top;
    list-style: none;
    padding:  0px;
}
#navigation li {
    float: left;
    margin-right: 15px;
    position: relative;
    margin-bottom: 0px;
}
#navigation li a {
    color: #d6dadf;
    font-size: 12px;
    text-decoration: none;
    padding: 14px 20px 8px;
    display: block;
    min-height: 22px;
}
#navigation li a:hover,
#navigation li a:focus {
    color: #c4c4c4;
    background-image: url(images/bg_active_hover.png);
}
#navigation li .icon {
    margin-right: 7px;
    margin-top:2px;
}
#navigation li.current {
    background: url(images/bg_active.png) repeat-x top;
}
/*Child*/
#navigation li ul {
    position: absolute;
    list-style: none;
    top: 50px;
    left: 50%;
    margin-left: -68px;
    background: #f3f3f3;
    width: 120px;
    padding: 5px 8px 0px 8px;
    display: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #282828;
    -webkit-box-shadow: 0px 0px 3px #282828;
    -moz-box-shadow: 0px 0px 3px #282828;
    z-index: 80;
}
#navigation li.current ul {
    display: block;
}
#navigation li ul li a:hover {
    background-image: none;
}
#navigation li ul li a {
    color: #565656;
}
#navigation li ul:before,
#navigation li ul:after {
    content: "";
    position: absolute;
    z-index: 80;
    top: -7px;
    left: 50%;
    margin-left: -8px;
    border-top: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #f3f3f3;
}
#navigation li ul li {
    float: none;
}
#navigation li ul li a {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 11px;
}
/*Notification*/
#navigation li .notification {
    border-radius: 2px;
    background-color: #bc3b2a;
    height: 11px;
    font-size: 10px;
    text-align: center;
    padding: 1px 3px;
    line-height: 11px;
    top: 5px;
    position: absolute;
    margin-left: 5px;
    color: #f4f4f4;
    border: 1px solid #c84837;
}
/*@end*/
/*
@group Separators
-----------------------
    Separators
-----------------------
*/
.separator {
    height: 2px;
    display: block;
    clear: both;
    background: url(images/separator.png) repeat-x center center;
    margin-bottom: 1em;
}
#header .separator,
#footer.separator {
    background: url(images/bg_sep.png) repeat-x center center;
}
li.separator {
    float: none !important;
    margin: 0px !important;
    display: block;
}
/*@end*/
/*
@group Container
-----------------------
    Container
-----------------------
*/
.container {
    width: 960px;
    margin: 0px auto 0px auto;
}
/*fluid layout*/
body.fluid .container{
    width: 90%;
}
#content_cd {
    padding-bottom: 10px
}
/*@end*/
/*
@group Box Container
-----------------------
    Box Container
-----------------------
*/
.box {
    margin-bottom: 40px;
    box-shadow: 0px 0px 4px #242526;
    -webkit-box-shadow: 0px 0px 4px #242526;
    -moz-box-shadow: 0px 0px 4px #242526;
    clear: both;
}
.box .content {
    background-color: #fff;
    /*overflow: hidden;*/
}
.box.closed .content {
    display: none;
}
.box .content .separator {
    background: url(images/separator.png) repeat-x center center;
}
.box .content.padding {
    padding: 20px;
}
.box .header {
    height: 53px;
    cursor: pointer;
    background-color: transparent;
    background: #3d4143;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
}
#login .box .header {
    cursor: default;
}
/*hidden box*/
.box.hidden .header {
    border-radius: 3px;
}
.box .header h2 {
    padding-top:18px;
    padding-left: 20px;
    margin: 0px;
    color: #d4d4d4;
    font-size: 18px;
    float: left;
    text-shadow: 0px 1px 0px #1f1f1f;
    filter: dropshadow(color=#1f1f1f, offx=0, offy=1);

    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}
.box .header:focus h2,
.box .header:hover h2 {
    color: #fff;
}
#login .box .header:focus h2,
#login .box .header:hover h2 {
    color: #d4d4d4;
}
/*Toggle*/
.box .header .toggle {
    margin-top: 6px;
    margin-right: 10px;
    width: 20px;
    height: 21px;
    background-image: url(images/toggle.png);
    background-repeat: no-repeat;
    float: right;
    cursor: pointer;
}
/*@end*/
/*
@group Tables
-----------------------
       Tables
-----------------------
*/
table {
    width: 100%;
    text-align: left;
}
table thead th,
table tfoot th {
    height: 35px;
    color: #959595;
    background-color: #eaeaea;
    padding: 0px 10px 0px 20px;
    vertical-align: middle;
    border-bottom: 1px solid #d9d9d9;
    box-shadow: 0px 2px 0px #FFFFFF;
    -webkit-box-shadow: 0px 2px 0px #FFFFFF;
    -moz-box-shadow: 0px 2px 0px #FFFFFF;
    text-shadow: 0px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=0, offy=1);
}
table tfoot th {
    background-color: transparent;
    border-top: 1px solid #d9d9d9;
}
table tbody tr:hover {
    background-color: #e5e5e5 !important;
}
table.cke_editor tbody tr:hover {
    background-color: transparent !important;
}
/*Even row color*/
table tbody tr:nth-child(even) {
    background-color: #ededed;/*border-bottom: 1px dotted #DDD;
border-top: 1px dotted #DDD;*/
}
td {
    border-bottom: 1px dotted #DDD;
}
/*Cell*/
table td {
    padding: 10px 10px 10px 20px;
}
/*Centered cell*/
table td.center,
table th.center {
    text-align: center
}
/*Midle center cell*/
table td.middle,
table th.middle {
    vertical-align: middle
}
/*@end*/
/*
@group DataTables
-----------------------
           DataTables
-----------------------
*/
.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
}
.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 12px;
    background-color: white;
}
.dataTables_length {
    display: block;
    padding: 12px 0px 12px 20px;
    background: #eaeaea;
    border-bottom: 1px solid #d9d9d9;
    box-shadow: 0px 1px 0px #FFFFFF;
    -webkit-box-shadow: 0px 1px 0px #FFFFFF;
    -moz-box-shadow: 0px 1px 0px #FFFFFF;
    margin-bottom: 1px;
}
.dataTables_filter {
    position: absolute;
    top: 10px;
    right: 20px;
}
.dataTables_info {
    padding: 10px 0px 10px 20px;
    width: 40%;
    float: left;
}
.dataTables_paginate {
    padding: 10px 20px 10px 0px;
    float: right;
}
/* Pagination nested */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next,
.paginate_button,
.paginate_active {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #3D4051;
    background-color: #FFF;
    border: 1px solid #DCE0E0;
    margin: 3px;
    cursor: pointer;
}
.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover,
.paginate_button:hover {
    background-color: #cee9f5;
    color:#fff;
}
.paginate_active {
    background-color: #009688;
    color:#fff;
}
.paginate_disabled_previous:before,
.paginate_enabled_previous:before {
    content: "<";
}
.paginate_disabled_next:before,
.paginate_enabled_next:before {
    content: ">";
}
.paginate_disabled_previous,
.paginate_disabled_next {
    color: #393939;
    /*background*/
    background: url(images/bg_buttonalt.png) repeat-x top;
    border: 1px solid #bbbbbb;
    box-shadow: 0px 1px 3px #6f6f6f;
    -webkit-box-shadow: 0px 1px 3px #6f6f6f;
    -moz-box-shadow: 0px 1px 3px #6f6f6f;
    text-shadow: 0px 1px 0px #dcdcdc;
    filter: dropshadow(color=#dcdcdc, offx=0, offy=1);
}
.paginate_disabled_previous:hover,
.paginate_disabled_next:hover {
    background-image: url(images/bg_buttonalt_hover.png);
}
/*@end*/

/*
@group Inbox
-----------------------
           Inbox
-----------------------
*/
.inbox {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.inbox li {
}
.inbox li .avatar {
    padding: 2px 0 12px 0;
    position: relative;
    z-index: 5;
}
.inbox li .author {
    margin-top: -55px;
    padding-left: 45px;
}
.inbox li .body {
    padding-left: 45px;
}
.inbox li .meta {
    font-size:10px;
    font-weight:bold;
    font-style:italic;
    color:#bdbdbd;
    padding-left: 45px;
    margin-bottom:5px;
}
.inbox li h4 {
    color: #658392;
    font-size:12px;
    padding-bottom:0px;
    margin-bottom: 0px !important;
    line-height: 12px;
}
.inbox li.separator {
    margin-bottom: 10px !important;
}
/*@end*/
/*
@group Tabs
-----------------------
            Tabs
-----------------------
*/
.tabs ul.navigation {
    list-style: none !important;
    padding: 10px 20px 10px 20px;
    font-size: 12px;
    margin: 0px;
    background-color: #eaeaea;
    border-bottom: 1px solid #d9d9d9;
    box-shadow: 0px 1px 0px #FFFFFF;
    -webkit-box-shadow: 0px 1px 0px #FFFFFF;
    -moz-box-shadow: 0px 1px 0px #FFFFFF;
}
.tabs .navigation li {
    float: left;
    margin-right: 20px;
    margin-bottom: 0px;
}
.tabs .navigation li a {
    text-decoration: none;
    /*display: block;*/
    color: #818181;
    padding: 5px 16px 5px 16px;
    display: table-cell;
    vertical-align: middle;
    line-height: 21px;
}
.tabs .navigation li a:hover {
    color: #5c5c5c;
}
.tabs .navigation li .current {
    background: #dcdcdc;
    color: #5c5c5c;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0px 1px 0px #ffffff;
    -moz-box-shadow: 0px 1px 0px #ffffff;
    box-shadow: 0px 1px 0px #ffffff;
}

#login .tabs .tab, .tab {
    padding: 20px;
}

.tabs .tab {
    padding: 0px;
}


/*@end*/
/*
@group Accordion
-----------------------
         Accordion
-----------------------
*/
.accordion {
}
.accordion .panel {
    padding: 5px 5px 5px 20px;
    font-size: 12px;
    color: #818181;
    cursor: pointer;
    background-color: #eaeaea;
    border-bottom: 1px solid #d9d9d9;
    margin: 0px !important;
}
.accordion .panel.active {
    background: #e0e0e0;
    border-top: 1px solid #f2f2f2;
}
.accordion .content {
    padding: 20px;
}
/*@end*/
/*
@group Shortcuts
-----------------------
         Shortcuts
-----------------------
*/
.shortcuts {
    text-align: center;
    padding: 20px 10px 10px;
}
.shortcuts li {
    float: left;
    text-align: center;
    margin-right: 30px;
}
.shortcuts li:hover {
}
.shortcuts .separator {
    padding: 20px 0;
}
.shortcuts li a {
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=0, offy=1);
}
.shortcuts li a span {
    display: block;
    color: #636b6f;
}
/*@end*/
/*
@group Forms
-----------------------
           Forms
-----------------------
*/
input[type=text],
input[type=password]{
    background: #fdffff;
    height: 25px;
    max-width: 300px;
    width: 100%;
    border: 1px solid #dcdcdc;
    padding: 6px 10px 6px 10px;
    line-height: 25px;
    outline: none;
    -webkit-box-shadow: inset 1px 1px 2px #eef0f0;
    -moz-box-shadow: inset 1px 1px 2px #eef0f0;
    box-shadow: inset 1px 1px 2px #eef0f0;
}

input::placeholder{
    color: #ccc;
}

textarea {
    height: auto;
    line-height: 1.5em;
    padding: 10px 10px 10px 10px;
}
input.medium {
    width: 30%;
}
input.large {
    width: 50%;
}
input:focus {
    background: #F7F7F7;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
    -o-box-shadow: 0 0 5px rgba(0,0,0,.3);
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    border: 1px solid #5897fb;
}
.field {
    margin-bottom: 10px;
}
label {
    display: block;
    color: #3D4051;
    font-size: 12px;
    ;
    margin: 0px 0px 5px 5px;
    font-weight:bold;
}
.field .help {
    font-style: italic;
    font-size: 11px;
    color: #777;
    display: inline;
}
fieldset {
    border: 1px solid #d9d9d9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}
legend {
    font-weight: bold;
}
button,
.button {
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    -moz-user-select: none;
    position: relative;
    outline: 0px none;
    border: 0px none;
    display: inline-block;
    align-items: center;
    padding: 0px 35px;
    margin: 6px 8px;
    line-height: 36px;
    min-height: 36px;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    text-transform: uppercase;
    background-color: #00BCD4;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
button.secondary,
.button.secondary {
    color: #393939;
    /*background*/
    background: url(images/bg_buttonalt.png) repeat-x top;
    border: 1px solid #bbbbbb;
    box-shadow: 0px 1px 3px #6f6f6f;
    -webkit-box-shadow: 0px 1px 3px #6f6f6f;
    -moz-box-shadow: 0px 1px 3px #6f6f6f;
    text-shadow: 0px 1px 0px #dcdcdc;
}
button:hover,
.button:hover,
button:focus,
.button:focus {
    background: #009688;
}
button.secondary:hover,
.button.secondary:hover {
    background: #009688;
}
select {
    width: 300px;
    padding: 6px;
    border: 1px solid #CCC;
    outline: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
    -moz-transition: border .2s linear, box-shadow .2s linear;
    -webkit-transition: border .2s linear, -webkit-box-shadow .2s linear;
}
input:disabled,
input[type="button"]:disabled,
input[type="button"]:hover:disabled,
input[type="button"]:focus:disabled,
input[type="button"]:active:disabled,
input[type="submit"]:disabled,
input[type="submit"]:hover:disabled,
input[type="submit"]:focus:disabled,
input[type="submit"]:active:disabled,
input[type="reset"]:disabled,
input[type="reset"]:hover:disabled,
input[type="reset"]:focus:disabled,
input[type="reset"]:active:disabled,
button:disabled,
button:hover:disabled,
button:focus:disabled,
button:active:disabled,
.button.disabled,
.pagination li a.disabled,
.toolbar li a.disabled,
.selector.disabled,
.selector.disabled:hover,
.selector.disabled:focus,
.selector.disabled:active,
.uploader.disabled span.action,
.checker.disabled,
.checker.disabled:hover,
.checker.disabled:focus,
.checker.disabled:active,
.radio.disabled,
.radio.disabled:hover,
.radio.disabled:focus,
.radio.disabled:active {
    border-color: #DDD;
    background: #EAEAEA;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
    filter: dropshadow(color=#252628, offx=0, offy=0);
    box-shadow: none;
    filter: none;
    color: #777;
}
/*@end*/
/*
@group Login
-----------------------
                        Login
-----------------------
*/
#login {
    margin: 200px auto 0px auto;
    width:400px;
}
#login .logo {
    margin: 0px 0px 10px 10px;
}
#login input {
    width: 94%;
}
/*@end*/
/*
@group Messages
-----------------------
                Messages
-----------------------
*/
.message {
    padding:10px;
    position:relative;
    padding-right:15px;
    margin-bottom: 40px;
    border: dotted 1px !important;
    cursor: pointer;
}
.box .message {
    margin-bottom: 0;
}
.message.valid {
    background: #8bc34a;
    color:#fff;
}
.message.invalid {
    background: #F6B9B9;
    color: #fff;
}
.message.info {
    background-color: #21c5da;
    color: #fff !important;
}
.message.alert {
    background-color: #f44336;
    color: #fff !important;
}
.close {
    position: absolute;
    right:3px;
    top: 0px;
    font-weight:bold;
    font-size:10px;
    padding:5px;
    cursor:pointer;
}
/*@end*/
/*
@group Footer
-----------------------
      Footer
-----------------------
*/
#footer {
    clear: both;
    padding-top: 30px;
    height: auto;
    color: #c2c2c2;
    background-position: top !important;
    position: relative;
}
#footer #colourdesign_logo {
    width: 96px;
    height: 43px;
    display: block;
    position: absolute;
    bottom: -10px;
    right: 0;
    text-indent: -9999px;
    background: transparent url('images/colourdesign_logo.png') no-repeat top left;
}
#footer #colourdesign_logo:focus,
#footer #colourdesign_logo:hover {
    background-position: 0 -47px;
}
/*@end*/


/*
-------------------------------
    Alternate Layout Styles
-------------------------------
*/
body.altlayout {
    background-image: url(images/layout2/sidebarbg.png);
    background-repeat: repeat-y;
    background-color: #f0f0f0;
}
/*
-----------------------
    Header
-----------------------
*/
.altlayout #header {
    background-position: -100px 0px;
    width: 270px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.altlayout #header .container {
    width: auto;
}
/*Logo*/
.altlayout #logo {
    float: none;
    padding-left: 20px;
    margin-bottom: 30px;
}
/*
-----------------------
       Menu
-----------------------
*/
.altlayout #menu {
    width: 250px;
    float: none;
    margin: 0px 100px 0px 16px;
    padding: 0px;
}
/*
-----------------------
      Navigation
-----------------------
*/
.altlayout #navigation {
    width: 270px;
    margin-top: 30px;
}
.altlayout #navigation li {
    width: 270px;
    margin-right: 0px;
    padding: 0px;
    float: none;
    position: relative;
    background: url(images/bg_sep.png) repeat-x top center;
}
.altlayout #navigation li a {
    width: 230px;
    padding: 12px 20px 10px;
    display: block;
    font-weight: bold;
}
.altlayout #navigation li.current {
    background: url(images/bg_active.png) repeat-x top center;
}
.altlayout #navigation li.current a {
    background: #62a4c0;
}
/*Notification*/
.altlayout #navigation li .notification {
    display: inline;
    position: relative;
    top: -2px;
    left: 0;
    margin-left: 10px;
}
/*Child*/
.altlayout #navigation li ul {
    display: none;
    position: relative;
    list-style: disc;
    top: 0;
    left: 0;
    background: none;
    width: auto;
    padding: 0px 0px 10px 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 0px solid #3c3d3f;
    box-shadow: 0px 0px 0px #282828;
    -webkit-box-shadow: 0px 0px 0px #282828;
    -moz-box-shadow: 0px 0px 0px #282828;
    z-index: 50;
    margin: 0px;
    background: url(images/bg_activenav.png) !important;
}
.altlayout #navigation li ul li {
    background: none;
}
.altlayout #navigation li ul li a {
    padding: 0px 20px 0px 40px !important;
    color: #A3A5A8;
}
.altlayout #navigation li ul li:first-child {
    background: url(images/bg_sep.png) repeat-x center top;
    padding-top: 10px;
}
.altlayout #navigation li ul:before,
.altlayout #navigation li ul:after
{
    content: "";
    z-index: 1000;
    top: 0;
    left: 0;
    margin-left: 0px;
    border-top: 0;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid #f3f3f3;
}
/*Toggle*/
.altlayout #navigation li.toggle {

}
.altlayout #navigation li.toggle a {
    background: url(images/layout2/toggle_menu.png) no-repeat center center;
    cursor: pointer;
    height:21px;
    padding-top: 15px;
}
.altlayout #navigation li.toggle a:hover {
    background-image: url(images/layout2/toggle_menu_hover.png);
}
/*
-----------------------
    Container
-----------------------
*/
.altlayout .container {
    width: auto;
    margin: 0px auto 0px auto;
}
.altlayout #content_cd {
    padding: 40px 30px 10px 30px;
    margin-left: 270px;
}
.altlayout .container.static {
    width: 960px;
    margin: 0px;
}
/*
-----------------------
    Box Container
-----------------------
*/
.altlayout .box {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.altlayout .box .content {
    background-color: #fff;
}
/*
-----------------------
      Footer
-----------------------
*/
.altlayout #footer.separator {
    background: url(images/separator.png) repeat-x top center;
}



/* ==============================================================================
                                                                                        GLOBAL CUSTOM CSS
        ============================================================================== */
* {
    outline: none;
}

a,
a:link,
a:visited {
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.username {
    float: right;
    color: #ACADAD;
    font-size: 11px;
    line-height: 22px;
    text-align: left;
    width: 130px;
    text-align: center;
    margin-right: 20px;
}

/* submenu */
.altlayout #navigation li.current ul li a {
    background: none;
}

.altlayout #navigation li ul li a:focus,
.altlayout #navigation li ul li a:hover {
    color: #fff;
}

.altlayout #navigation li.current ul li.current {
    background: none;
}

.altlayout #navigation li.current ul li.current a {
    color: #fff;
    background: url(images/layout2/active.png) no-repeat right center;
}
/* end submenu */

input[type="submit"],
button[type="submit"],
button[type="reset"] {
    cursor: pointer;
}
input[type="submit"].delete:focus,
input[type="submit"].delete:hover,
button[type="submit"].delete:focus,
button[type="submit"].delete:hover {
    color: #fff;
}

.datatable thead th:focus,
.datatable thead th:hover {
    cursor: pointer;
    color: #666;
}

.datatable thead th.sorting_asc:after {
    content: ' ▲';
}
.datatable thead th.sorting_desc:after {
    content: ' ▼';
}

.star {
    padding: 0;
    background: none;
    border: 0;
    box-shadow: none;
    position: absolute;
    top: -12px;
    right: 35px;
}
.star:focus,
.star:hover {
    background: none;
}

.image_edit {
    display: block;
    width: 19px;
    height: 19px;
    padding: 0;
    background: none;
    border: 0;
    box-shadow: none;
    position: absolute;
    top: -7px;
    right: 17px;
}
.image_edit:focus,
.image_edit:hover {
    background: none;
}

.image_delete {
    width: 23px !important;
    height: 23px;
    padding: 0;
    background: none;
    border: 0;
    box-shadow: none;
    position: absolute;
    top: -12px;
    right: -16px;
}
.image_delete:focus,
.image_delete:hover {
    background: none;
}

/* ikonok */
.sortable .icon {
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    background: yellow;
    text-indent: -9999px;
    background: transparent url('images/edit_icons.png') no-repeat 0 0;
    opacity: 0.60;
    filter:alpha(opacity=60);
}
.sortable .icon:focus,
.sortable .icon:hover {
    opacity: 1;
    filter:alpha(opacity=100);
}

.icon.beallitasok {
    background-position: -80px 0;
}

.icon.szerkesztes {
    background-position: -40px 0;
}

.icon.lathatosag {
    background-position: -20px 0;
}
.icon.lathatosag2 {
    background-position: -60px 0;
}

.icon.ujrakuldes {
    background-position: -100px 0;
}

.icon.fooldal_modul {
    background-position: -120px 0;
}

.icon.featured{
    background-position: -120px 0;
}

.icon.featured2{
    background-position: -220px 0;
}

.icon.galeria_modul {
    background-position: -140px 0;
}

.icon.blog_modul {
    background-position: -160px 0;
}

.icon.elonezet {
    /*background-position: -180px 0;*/
    background-position: -200px 0;
}

.icon.torles {
}

input[disabled=disabled] {
    color: #000 !important;
}


.control-group{
    margin-bottom: 15px;
}


a.switch.lathatosag2{
    text-decoration: line-through;
    margin-left: 10px;
    color: #767676;
}

a.switch.lathatosag{
    text-decoration: none;
    font-weight: bold;
    color: #0088cc;
}
