.notification
  +block
  background-color: $background
  border-radius: $radius
  padding: 10px
  position: relative
  a:not(.button)
    color: currentColor
    text-decoration: underline
  code,
  pre
    background: $white
  pre code
    background: transparent
  & > .delete
    position: absolute
    right: 0.5em
    top: 0.5em
  .title,
  .subtitle,
  .content
    color: inherit
  // Colors
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      background-color: $color
      color: $color-invert
