html {
	background: #efefef repeat 0 0;
}

body {
	background: transparent url('images/sidebar_bg.jpg') repeat-y 0 0 !important;
	padding-top: 51px;
}

#top_bar {
	width: 100%;
	height: 51px;
	background: #8BC34A;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

#top_bar #logo {
	position: absolute;
	top: 12px;
	left: 0px;
}

#top_bar ul {
	position: absolute;
	top: 0;
	left: 285px;
}

#top_bar ul li {
	float: left;
	list-style-type: none;
}

#top_bar ul li a {
	display: block;
	height: 51px;
	padding: 0 12px 0 43px;
	color: #fafafa;
	font: 12px/52px 'Myriad Pro', 'Arial', 'Helvetica', sans-serif;
	position: relative;
}
#top_bar ul li.current a,
#top_bar ul li a:focus,
#top_bar ul li a:hover {
	color: #fafafa;
	background: #6ba627;
}

#top_bar ul li a img {
	position: absolute;
	top: 16px;
	left: 15px;
	margin: 0 5px 0 0;
	vertical-align: baseline;
}

#header {
	padding-top: 51px;
	background: #32323a repeat-y 0 0;
}

.altlayout #header .container {
	min-height: 200px;
}

.altlayout #navigation {
	margin-top: 0;
	background: none;
	border-top: 1px solid #2b2d30;
}

.altlayout #navigation li {
	background: transparent url('images/navigation_bg.png') repeat 0 0;
	border-bottom: 1px solid #2b2d30;
}
.altlayout #navigation li.current,
.altlayout #navigation li:focus,
.altlayout #navigation li:hover {
	background: transparent url('images/navigation_bg_hover.png') repeat 0 0;
}

.altlayout #navigation li.current a:focus,
.altlayout #navigation li.current a:hover {
	background: url('../images/layout2/active.png') no-repeat right center;
}

.altlayout #navigation li a:focus,
.altlayout #navigation li a:hover {
	background: none;
}

.altlayout #navigation li ul,
.altlayout #navigation li ul li:first-child {
	background: none;
	border: none;
}

.altlayout #navigation li ul li {
	border-bottom: 0;
}
.altlayout #navigation li ul li:focus,
.altlayout #navigation li ul li:hover {
	background: none;
}

.altlayout #navigation li ul li a {
	background: none !important;
}

/* NAVIGATION */
ol.sortable {
	margin: 0 -20px 0 -20px;
	padding: 0;
	list-style-type: none;
}

.sortable li {
	margin: 7px 0 0 0;
	padding: 0;
}

.sortable li div  {
	height: 30px;
	border-left: 15px solid #00BCD4;
	padding: 8px 10px 0 10px;
	cursor: move;
	background-color: #efefef;
}
.sortable li div:focus,
.sortable li div:hover {
	background: #d5d1d1;
}

ol.sortable ol {
	margin: 0 0 0 25px;
	padding: 0;
	list-style-type: none;
}

ol.sortable ol li div {
	border-left: 15px solid #8bc34b;
}

.placeholder {
	height: 34px;
	background-color: #cfcfcf;
	box-shadow: inset 0 0 15px #666;
}

.ui-sortable-helper {
	box-shadow: 2px 2px 15px #000;
}

.ui-nestedSortable-error {
	background: #fbe3e4;
	color: #8a1f11;
}
/* END NAVIGATION */

#footer {
	color: #636363;
	font: 12px 'Myriad Pro', 'Arial', 'Helvetica', sans-serif;
	text-shadow: 0 1px 0 #fff;
}

#sortable_grid {
  list-style-type: none; margin: 0; padding: 0; width: 450px;
}
#sortable_grid li {
  margin: 10px 10px 10px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 12px; text-align: center;
}


.weboldal_link{
    color: #999999;
    float: none;
    line-height: 19px;
    padding: 10px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.weboldal_link:hover{
    color: white;
    text-decoration: none;
}

#sortable li:hover, #sortable_grid li:hover{
  cursor: move;
}
